*{
    margin: 0;
    padding: 0;
}
.logo{
    margin: 0;
    padding: 0;
    color: #ff7200;
    font-size: 50px;
    padding-left: 5px;
    float: left;

}

.main{
    display: flex;
    width: 100wh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    background-image: url(./assets/1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align:start;
    justify-content: space-between;
    
}

.menu-list{
    padding: 20px;
    display: flex;
    justify-content:center;
    width: 100vw;
    gap: 250px;
}

a{
    text-decoration: none;
    color:white;
    font-family:Arial;
    font-weight: bold;
    transition: 0.5s easy-in-out;
}

ul li a:hover{
    color: #ff7200;
}

li{
    list-style: none;
}
